@use "sass:list";

$icons: (
  0: "\f425",
  1: "\F7AC",
  2: "\f67a",
  3: "\F1E6",
  4: "\f3d7",
  5: "\F293",
  6: "\f5de",
  7: "\F4A3",
);

$iconCount: list.length($icons);

.header {
  @extend %shadow;
  @include position(f, left, 0, top, 0, 101);
  height: calc(100vh - 6rem);
  margin: 3rem;
  width: 22rem;

  @include mobile {
    transform: translateX(-100%);
    margin: 0;
    height: 100vh;
    border-radius: 0 1rem 1rem 0;
    transition: transform 0.5s;
    &.active {
      transform: translateX(0);
    }
  }
}
.logo {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 2.5rem;
  font-weight: 300;
  padding: 0 0 2rem;
  border-bottom: 1px solid $border;
  font-family: $jost;
  &::before {
    content: "";
    width: 3rem;
    height: 3rem;
    background: url("/favicon.png") no-repeat 0 0 / cover;
  }
  .mobile-header & {
    border: none;
    padding: 0;
  }
}
.gnb {
  padding: 2rem 0;

  a {
    display: flex;
    gap: 0.5rem;
    height: 4rem;
    align-items: center;
    border-radius: 1rem;
    color: $light;
    font-size: 1.6rem;
    font-weight: 500;
    white-space: nowrap;
    &::before {
      font-family: $icon;
    }
    &:hover {
      color: $primary;
    }
  }
  @for $i from 0 to $iconCount {
    [data-icon="ico#{$i}"] {
      &::before {
        content: map-get($icons, $i);
      }
    }
  }
}

.mobile-header {
  display: none;
  align-items: center;
  justify-content: space-between;
  padding: 0 0 3rem;
  @include mobile {
    // @include position(s, left, 0, top, 0, 99);
    display: flex;
    // width: 100%;
  }
}
