.btn-more {
  &::before {
    content: "\F5D4";
    font-family: $icon;
    font-size: 1.8rem;
  }
}
.btn-edit {
  &::before {
    content: "\F4CA";
    font-family: $icon;
    font-size: 1.8rem;
  }
}
.btn-delete {
  &::before {
    content: "\F78B";
    font-family: $icon;
    font-size: 1.8rem;
  }
}
