$blue: #1f1c2f;
$indigo: #6610f2;
$purple: #aa87f5;
$pink: #ffd3e2;
$red: #f674ad;
$orange: #f0864a;
$yellow: #f0864a;
$green: #8ac3a3;
$teal: #20c997;
$cyan: #87baf5;
$white: #fff;
$gray: #6c757d;
$gray-dark: #01041b;
$skyblue: #158df7;
$primary: #1f1c2f;
$secondary: #6c757d;
$success: #8ac3a3;
$info: #87baf5;
$warning: #f0864a;
$danger: #f674ad;
$light: #848486;
$dark: #01041b;
$purple: #aa87f5;
$bodybg: #f3f6fd;
$border: #dcdddf;

$mobileWidth: 800px;
$tabletWidth: 1280px;
$url: "../images/";
